<div class="child-container">
  <div class="head header-text">
      <div class="overlay"></div>
      <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
          <source src="https://cdn.videvo.net/videvo_files/video/free/2016-12/small_watermarked/Typing_dark_03_Videvo_preview.webm" type="video/mp4">
          <!-- <source src="https://cdn.videvo.net/videvo_files/video/free/2016-04/small_watermarked/160330_4_Typing3_Mpeg4_4K_preview.webm" type="video/mp4"> -->
      </video>
      <div class="container h-100">
          <div class="d-flex h-100 text-center align-items-center">
              <div class="w-100 text-white">
                  <div class="col-12">
                      <img class="custom-rounded-image" 
                      data-aos="fade-down" data-aos-duration="1000"
                      src="assets/images/carousel-rounded-image.jpg" alt="">
                  </div>
                  <p class="intro-p" data-aos="fade-down" data-aos-duration="1000">
                      hello, <span class="text-lowercase">i am </span> 
                      <span class="text-secondary-red">Ali Alaraby</span>, <span class="text-lowercase">i am </span> a 
                      <span class="text-secondary-red text-uppercase">mean stack</span> developer
                    </p>
                  <div class="downArrow bounce">
                    <img width="70" height="70" alt="" src="assets/images/down-arrow-light.png" (click)="scroll(about)"/>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="mb-5" style="margin-top: -50px;">
    <!-- about part start -->
    <div #about class="best-features about-features">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="section-heading">
                <h2 id="about-title">About Me</h2>
              </div>
            </div>
            <div class="col-md-6" data-aos="fade-right" data-aos-duration="1000">
              <div class="right-image about-img">
                <!-- <img src="assets/images/about2.jpg" class="about-img" style="" alt=""> -->
              </div>
            </div>
            <div class="col-md-6" data-aos="fade-left" data-aos-duration="1000">
              <div class="left-content">
                <h4 class="text-secondary-red font-weight-bold">Who I Am And What I do ?</h4>
                <p>
                  i`m a MEAN Stack And a Former .NET Full Stack Developer with experience over 3 year in the web developement field, had my degree
                  in engineering in 2017 computer science deptartment, started my journey in programming since 2015 where the 
                  field was so shiny and interesting, started learning with c++ then java, C# then after graduation, i started to 
                  explore the awesome different fields and tracks of programming and as the demand was so rising in the web dev 
                  field, i jumped right in.  
                  <br><br>
                  shortly after graduation, joined a schoolarship in iTi, one of the leading organization in the IT field in Egypt,
                  finished the 3 months program and got my first job approval just the day i graduated.
                </p>
                <a routerLink="/main/projects" class="filled-button">know more</a>
              </div>
            </div>
          </div>
        </div>
    </div>
    <!-- about bannar part end -->

    <!-- what i do part start -->
    <div class="mt-5 what-i-do">
      <div class="container">
        <div class="col-md-12">
          <div class="section-heading">
            <h2 id="about-title">About My Skills</h2>
          </div>
        </div>
        
        <div class="col-md-12">
          <p class="px-5 text-20">
            here are just some of the skills and technologies i mastered over the years and you can 
            find everything else in details in my resume linked below. i was also responsible for leading a couple of projects 
            with a couple of different teams and took part of all aspects of almost all the project i have worked on.  
          </p>
        </div>

        <div class="col-md-12">
          <div class="row mt-2 p-2">
            <div class="col-lg-3 col-md-4 col-sm-6" data-aos="fade-left" data-aos-delay="400" data-aos-duration="1000" 
            *ngFor="let skillCard of skillCards">
              <div class="card card-icon-big hvr-underline-from-center mb-4">
                <div class="card-body text-center">
                  <img  [src]="skillCard.src" alt="">
                  <p class="lead text-18 mt-2 mb-0">
                    {{ skillCard.name }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12 my-3 text-center">
          <p class="get-my-cv-p">get my pdf resume</p>
          <a download href="assets/Ali_Alaraby_Full_Stack_Developer_Resume.pdf" class="filled-button my-5" data-aos="fade-right" data-aos-duration="1000">
            Get Resume
          </a>
          <span class="d-inline-block mx-3">or</span>
          <a routerLink="/main/contact" class="filled-button" data-aos="fade-left" data-aos-duration="1000">
            Contact Me
          </a>
        </div>
      </div>
  </div>
  <!-- what i do part end -->

  <!-- skills part start -->
  <!-- <div class="mt-5" #componentDiv >
      <div class="container">
        <div class="row w-100">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Skill Set</h2>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12 mb-3 text-about">
                  <h4>Front-End</h4>
              </div>
              <div class="row w-100" style="height: 250px;">
                <div class="col-lg-4 col-md-6 skill-item text-center" *ngFor="let fItem of frontEndSkillItems">
                  <ngx-gauge [type]="gaugeType" 
                    [value]="fItem.percentage" 
                    [label]="fItem.title"
                    [cap]="gaugeCap"
                    [duration]="fItem.animationDuration"
                    [thick]="gaugeThick"
                    [foregroundColor]="gaugeForegroundColor"
                    append="%">
                  </ngx-gauge>
                </div>
              </div>
              <div class="col-md-12 mt-5 mb-3 text-about">
                <h4>Back-End</h4>
              </div>
              <div class="row w-100" style="height: 250px;">
                <div class="col-lg-4 col-md-6 skill-item text-center" *ngFor="let fItem of backEndSkillItems">
                  <ngx-gauge [type]="gaugeType" 
                    [value]="fItem.percentage" 
                    [label]="fItem.title"
                    [cap]="gaugeCap"
                    [duration]="fItem.animationDuration"
                    [thick]="gaugeThick"
                    [foregroundColor]="gaugeForegroundColor"
                    append="%">
                  </ngx-gauge>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div> -->
  <!-- skills part end -->

  <!-- reach me part start -->
  <!-- <div class="container text-center mt-5 pt-5" style="border-top: 1px solid #eee;">
    <a routerLink="/main/contact" class="filled-button">Contact Me</a>
  </div> -->
  <!-- reach me part end -->


    <!-- <div class="container">
      <h4 [className]="dd">hi there</h4>
    </div> -->
    <!-- skills part start -->
    <!-- <div class="mt-5">
        <div class="container">
          <div class="row w-100">
            <div class="col-md-12">
              <div class="section-heading">
                <h2>Skill Set</h2>
              </div>
            </div>
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-12 col-lg-6 text-about">
                    <h4>Front-End</h4>
                    <div class="row text-left">
                      <div class="col-12 skill-item" *ngFor="let fItem of frontEndSkillItems">
                        <div class="row">
                          <div class="col-2">
                            <span class="service-item skill"><i [class]="fItem.fontItem"></i></span>
                          </div>
                          <div class="col-9">
                            <h4>{{fItem.title}}</h4>
                            <p><ngb-progressbar [showValue]="true" type="info" [value]="fItem.percentage"></ngb-progressbar></p>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-6 text-about">
                  <h4>Back-End</h4>
                  <div class="row text-left">
                    <div class="col-12 skill-item" *ngFor="let bItem of backEndSkillItems">
                      <div class="row">
                        <div class="col-2">
                          <span class="service-item skill"><i [class]="bItem.fontItem"></i></span>
                        </div>
                        <div class="col-9">
                          <h4>{{bItem.title}}</h4>
                          <p><ngb-progressbar [showValue]="true" type="info" [value]="bItem.percentage"></ngb-progressbar></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
            <div class="class-md-12">
              <div class="container">
                <rg-gauge-chart
                  [canvasWidth]="canvasWidth"
                  [needleValue]="needleValue"
                  [centralLabel]="centralLabel"
                  [options]="options"
                  [name]="name"
                  ></rg-gauge-chart>
              </div>
            </div>
          </div>
        </div>
    </div> -->
    <!-- skills part end -->
    
</div>