.about-heading.page-heading{
    background-color: unset !important;
    height: 515px;
}
.text-about{
    top: 5% !important;
}
.intro-p{
    text-transform: capitalize;
    color: black !important;
    padding-left: 70px;
    padding-right: 70px;
    letter-spacing: 1px;
    font-size: 35px !important;
}

  @media (max-width: 768px){
    .about-heading.page-heading{
      height: 645px;
    }
    .text-about{
      top: 2% !important;
    }
    .intro-p{
      font-size: 30px !important;
      padding-left: 25px;
      padding-right: 25px;
    }
    .best-features h4{
      margin-top: 20px;
    }
  }

.what-i-do p{
  font-size: 17px;
  font-weight: 400;
}
.about-features p{
  font-weight: 400 !important;
}
.card{
  border-radius: 10px;
  box-shadow: 0 4px 20px 1px rgb(0 0 0 / 8%), 0 1px 4px rgb(0 0 0 / 10%);
  border: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  background-color: #fff;
  background-clip: border-box;
}
