.contacts-container{
    margin-top: 120px;
}
.contacts-container h4, p{
    text-transform: capitalize;
    font-weight: bold;
    text-align: center;
    font-size: 35px;
}
input[type="text"]:focus, textarea:focus{
    border-color: #4a4a4a ;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #4a4a4a;
    outline: 0 none;
}
.text-about.text-contact{
    top: 15%;
}