<div class="child-container">
    <!-- top bannar part start -->
    <div class="page-heading about-heading header-text">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
            </div>
          </div>
        </div>
    </div>
    <div class="text-about text-contact row w-100 px-0 mx-0">
        <div class="col-12">
            <h4>Contacts</h4>
        </div>
        <div class="col-12">
            <!-- <p>E-mail, Social &amp; Other Contacts</p> -->
            <p>let me hear your thoughts</p>
        </div>
        <div class="col-12 downArrow bounce">
            <img width="70" height="70" alt="" src="assets/images/down-arrow-light.png" (click)="scroll(contacts)" />
          </div>
    </div>
    <!-- top bannar part end -->
</div>
<div class="container contacts-container" #contacts>
    <div class="row">
        <div class="col-md-12" style="margin-bottom: 90px;">
            <h4 class="mb-4 text-secondary-red">have <span class="text-lowercase">a</span> question, want to hire me or just want to chat?</h4>
            <p>i<span class="text-lowercase">`d</span> be very happy to hear from you.</p>
        </div>
        <div class="col-lg-8 col-md-6 col-sm-12" data-aos="fade-right" data-aos-duration="1000">
            <p class="text-center">Send Me An Email</p>
            <form [formGroup]="emailForm" class="my-3">
                <div class="row px-3">
                    <div class="col-12 form-group my-3 text-capitalize">
                        <input autocomplete="off" type="text" class="form-control" #email
                        [ngClass]="{'invalid-input': (emailForm.controls['email'].invalid && showErrors) || (emailForm.controls['email'].touched && invalidEmail)}"
                        (keyup)="CheckEmail($event.target.value)"
                        id="email" placeholder="Enter Your email" formControlName="email">
                        
                        <div *ngIf="invalidEmail"
                            class="text-danger font-weight-bold">
                            Invalid Email <span class="text-lowercase">"example@gmail.com"</span>
                        </div>
                    </div>
                    <div class="col-12 form-group my-3 text-capitalize">
                        <input autocomplete="off" type="text" class="form-control" #name
                        [ngClass]="{'invalid-input': emailForm.controls['name'].invalid && showErrors}"
                        id="name" placeholder="Enter Your Name" formControlName="name">
                    </div>
                    <div class="col-12 form-group my-3 text-capitalize">
                        <!-- <input autocomplete="off" type="" class="form-control" #message
                        id="message" placeholder="Tell Me Something" formControlName="message"> -->

                        <textarea class="form-control" formControlName="message" id="message" 
                            [ngClass]="{'invalid-input': emailForm.controls['message'].invalid && showErrors}"
                            #message cols="20" rows="7" placeholder="Tell Me Something">
                        </textarea>

                        <!-- <div *ngIf="showErrors && emailForm.controls['message'].invalid"
                            class="text-danger font-weight-bold">
                            Message is Required
                        </div> -->
                    </div>
                </div>
                <div class="row px-3">
                    <button class="btn btn-danger ml-3" [textContent]="sending ? 'Sending ...' : 'Send'" (click)="Submit()"></button>
                    <span class="text-danger font-weight-bold mt-2 ml-2" *ngIf="emailForm.invalid && showErrors"> * Please Fill In The Glowing Fields</span>
                </div>
            </form>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12" data-aos="fade-left" data-aos-duration="1000">
            <p class="text-center">Or Let <span class="text-lowercase">`s</span> Socialize</p>
            <div class="row w-100 mx-auto" style="margin-top: 33px;">
                <div class="col-12">
                    <div class="card card-icon-big mb-4 social-card facebook hvr-float-shadow" (click)="OpenSocial('facebook')">
                        <div class="card-body text-center">
                            <img src="assets/images/facebook.png" alt="">
                            <p class="lead text-18 mt-2 mb-0">
                                Facebook
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card card-icon-big mb-4 social-card linkedin hvr-float-shadow" (click)="OpenSocial('linkedin')"> 
                        <div class="card-body text-center">
                            <img src="assets/images/linkedin.png" alt="">
                            <p class="lead text-18 mt-2 mb-0">
                                Linkedin
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>